<IfModule mod_headers.c>
    <FilesMatch "\.html[_a-z]*$">
        Header unset Link
        Header add Link '</wp-content/cache/minify/51501.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/846b2.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/14cc3.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/87054.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/bf0a6.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/1b130.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/6573f.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/ecada.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/9f110.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/04d45.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/1615d.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/4f794.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/492c9.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/33382.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
